<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">

<style type="text/css">
label,.text{
  color:white;
  background: linear-gradient(to right, #ff6600 0%, #ff0066 66%); 
  height: 40px;
  padding-left:10px;
}
#b1,#b2{
   background-color: #ff6600;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: -20px;
  }
</style>

</head>

<body>
  <%include partials/nav.ejs%>
<div class="container">
    <h1 class="text control-label">Payment</h1>
   <div class="col-md-9 personal-info">
        <form class="form-horizontal" role="form" action="/sub" method="post">
          <div class="form-group">
            <label class="col-lg-3 control-label">UserName:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="name" value="<%=data[0].username%>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Card Holder's Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="cardname" value="<%=data[0].name%>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="email" value="<%=data[0].email%>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Card Number:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="cardnumber">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Subscribtion Type:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="subtype" value="<%=plan%>">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" name="password" value="<%=data[0].password%>">
            </div>
          </div>
         <div class="form-group">
            <label class="col-lg-3 control-label">Card Expiry Date</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="expiry">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Card CVV</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="CVV">
            </div>
          </div>
     
         
          <div class="form-group">
            <div class="col-md-8">
              <input type="submit" class="btn btn-danger btn-lg" id="b1" value="Pay">
              <input type="reset" class="btn btn-default btn-lg" id="b2" value="Reset">
            </div>
          </div>
          </div>
        </form>
      </div>
</html>